.crypto-card {
  &__icon {
    width: 32px;
    height: 32px;
  }

  &__price {
    @apply flex items-center text-green-300;

    &--low {
      @apply text-red-300;

      mat-icon {
        transform: scale(1, -1);
      }
    }
  }
}
