<header>
  <div
    [@shrink]="!isLoading"
    class="h-screen bg-gradient-to-br from-blue-900 to-indigo-900 flex flex-col items-center text-center justify-center"
  >
    <p class="text-white text-9xl">
      <span>{{ title }}</span>
    </p>
    <p class="text-gray-200 text-4xl bg-gray-800 mt-4">
      <span class="text-gray-400">&#123;</span>
      <span> {{ currentCrypto$ | async }} </span>
      <span class="text-gray-400">&#125;</span>
    </p>
  </div>
</header>

<main *ngIf="!isLoading">
  <div class="mx-auto max-w-8xl p-4 flex place-content-between items-center">
    <span class="text-gray-200 text-xl">Market Live Data</span>
    <!--    <div class="px-4 py-2 rounded-lg text-gray-700 bg-white">Currency Dropdown [WiP]</div>-->
    <button class="text-gray-200" mat-stroked-button (click)="openSelectCurrencyDialog()">
      {{ selectedCurrency.symbol }}
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>

  <div class="mx-auto h-screen max-w-8xl flex flex-wrap items-center justify-center">
    <div
      class="container blur-2xl w-80 rounded-sm py-2 px-4 m-1 bg-gray-700"
      *ngFor="let item of listing | async; trackBy: trackByFn"
    >
      <div class="flex items-center text-xl text-gray-200 mb-2">
        <mat-icon class="mr-2 crypto-card__icon" [svgIcon]="cryptoIconRegistry.resolveIconWithFallback(item.symbol)"></mat-icon>
        <span class="mr-2">{{ item.name }}</span>
        <span class="text-gray-400"> {{ item.symbol }} </span>
      </div>
      <p class="text-gray-400 mb-2">
        {{ selectedCurrency.sign }} {{ item.quote[selectedCurrency.symbol]?.price | number: '1.1-6' }}
      </p>
      <div
        [@priceUpdate]="item.quote[selectedCurrency.symbol]?.percent_change_1h"
        class="crypto-card__price"
        [ngClass]="{
          'crypto-card__price--low': item.quote[selectedCurrency.symbol]?.percent_change_1h | pricelowhigh
        }"
      >
        <span class="text-gray-400 mr-2">1h</span>
        <mat-icon class="mr-2">arrow_drop_up</mat-icon>
        <span>{{ item.quote[selectedCurrency.symbol]?.percent_change_1h | number: '1.1-4' }}%</span>
      </div>
      <div
        [@priceUpdate]="item.quote[selectedCurrency.symbol]?.percent_change_7d"
        class="crypto-card__price"
        [ngClass]="{
          'crypto-card__price--low': item.quote[selectedCurrency.symbol]?.percent_change_7d | pricelowhigh
        }"
      >
        <span class="text-gray-400 mr-2">7d</span>
        <mat-icon class="mr-2">arrow_drop_up</mat-icon>
        <span>{{ item.quote[selectedCurrency.symbol]?.percent_change_7d | number: '1.1-4' }}%</span>
      </div>
    </div>
  </div>
</main>
