<div class="container blur-2xl w-80 rounded-sm py-2 px-4 m-1 bg-gray-700">
  <div class="flex items-center text-xl text-gray-200 mb-2">
    <mat-icon
      class="mr-2 crypto-card__icon"
      [svgIcon]="cryptoIconRegistry.resolveIconWithFallback(data.symbol)"
    ></mat-icon>
    <span class="mr-2">{{ data.name }}</span>
    <span class="text-gray-400"> {{ data.symbol }} </span>
  </div>
  <p class="text-base text-gray-400 mb-2">{{ data.sign }} {{ data.price | number: '1.1-6' }}</p>
  <div class="grid grid-cols-2 grid-rows-2">
    <div
      [@priceUpdate]="data.percent_change_1h"
      class="crypto-card__price"
      [ngClass]="{
        'crypto-card__price--low': data.percent_change_1h | pricelowhigh
      }"
    >
      <span class="text-gray-400 mr-2">1h</span>
      <mat-icon class="mr-2">arrow_drop_up</mat-icon>
      <span>{{ data.percent_change_1h | number: '1.1-4' }}%</span>
    </div>
    <div
      [@priceUpdate]="data.percent_change_24h"
      class="crypto-card__price"
      [ngClass]="{
        'crypto-card__price--low': data.percent_change_24h | pricelowhigh
      }"
    >
      <span class="text-gray-400 mr-2">24h</span>
      <mat-icon class="mr-2">arrow_drop_up</mat-icon>
      <span>{{ data.percent_change_24h | number: '1.1-4' }}%</span>
    </div>
    <div
      [@priceUpdate]="data.percent_change_7d"
      class="crypto-card__price"
      [ngClass]="{
        'crypto-card__price--low': data.percent_change_7d | pricelowhigh
      }"
    >
      <span class="text-gray-400 mr-2">7d</span>
      <mat-icon class="mr-2">arrow_drop_up</mat-icon>
      <span>{{ data.percent_change_7d | number: '1.1-4' }}%</span>
    </div>
    <div
      [@priceUpdate]="data.percent_change_30d"
      class="crypto-card__price"
      [ngClass]="{
        'crypto-card__price--low': data.percent_change_30d | pricelowhigh
      }"
    >
      <span class="text-gray-400 mr-2">30d</span>
      <mat-icon class="mr-2">arrow_drop_up</mat-icon>
      <span>{{ data.percent_change_30d | number: '1.1-4' }}%</span>
    </div>
  </div>
</div>
