<div class="container w-80 rounded-sm py-2 px-4 m-1 bg-gray-700">
  <div class="flex flex-col">
    <div class='flex items-center mb-1'>
      <ngx-skeleton-loader appearance="circle" [theme]="iconTheme"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="labelTheme"></ngx-skeleton-loader>
    </div>
    <ngx-skeleton-loader class='mb-2' [theme]="priceTheme"></ngx-skeleton-loader>
  </div>
  <div class="grid grid-cols-2 grid-rows-2">
    <ngx-skeleton-loader [theme]="labelTheme"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="labelTheme"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="labelTheme"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="labelTheme"></ngx-skeleton-loader>
  </div>
</div>
